body * {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: serif;
  color:  #2719C7;
  background: url(https://cdn.wallpapersafari.com/90/29/4LbDOE.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

.box {
  width: 90%;
  height: 75%;
  background-color: #FFE81F;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.battle {
  height: auto;
  width: 50%;
}

legend {
  font-size: 22px;
}

fieldset {
  border: none;
}

.button {
  height: 35px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  font-family: 'Bitter', serif;
}

.star-question {
  padding-left: 50px;
  font-size: 18px;
  text-align: left;
}

.answers {
  text-align: left;
  padding-left: 50px;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 30px;
}

.button.disabled {
  opacity: 0.50; 
  cursor: not-allowed;
}

.results-counter {
  font-size: 20px;
  text-align: center;
}

.all-feedback {
  font-size: 18px;
  margin-top: 10px;
  position: relative;
  line-height: 150%;
}

#final-correct {
  margin-top: -30px;
}

.many-cups {
  height: auto;
  width: 40%;
}

.force {
  font-size: 18px;
}

#retake {
  height: 35px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  font-family: serif;
} 
